node_modules
bun.lock
migrations
dist

.tanstack
.DS_Store
.cache
.env.local
.output
.vinxi
.tanstack-start/build
.nitro/*

/build/
/api/
/server/build
/public/build

test-results
.claude/CLAUDE.md
.eslintcache
.tsbuildinfo
src/routeTree.gen.ts